<!--suppress HtmlFormInputWithoutLabel -->
<select id="{{id}}"
        name="{{id}}"
        class="custom-select"
>
    <option></option>
    {{#each choices}}
        <option value="{{label}}">
            {{label}}
        </option>
    {{/each}}
</select>