<!--suppress HtmlFormInputWithoutLabel -->
<select id="{{id}}"
        name="{{id}}"
        class="custom-select"
        required
>
    <option></option>
    <option value="true">Yes</option>
    <option value="false">No</option>
</select>